@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');

h1{
font-family: 'PT Sans Narrow', sans-serif;
width: 244px;	
margin : auto;
border: 3px dark grey ridge;
border-radius : 10%;
margin-bottom:1%;
padding : 1%;
background-color:orange;
text-transform:uppercase;
}
h1::before
{
content: "<< ";
color:blue;
}

h1::after
{
content: " >>";
color:blue;
}


body{	
background-image:url(photo.jpg);
}

#text{
	text-align:center;
	color:white;
	font-weight:bold; 
	font-size:40px;

}
.img1{
	position:absolute;
	top : 55%;
	left: 49%;
	border-radius : 50%;	
}


.img2{
	position:absolute;
	top : 55%;
	left: 33%;
	border-radius : 50%;	
}

.img3{
	position:absolute;
	top : 50%;
	left: 63%;
	border-radius : 50%;	
}

.img4{
	position:absolute;
	top : 48%;
	left: 10%;
	border-radius : 50%;	
}

.img5, .img6, .img7, .img8, .img9{
	display:none;
}




